footer.page-footer.center-on-small-only
      // Footer Links
      .container-fluid
        .row
          // First column
          .col-md-3.offset-lg-1.hidden-lg-down
            h5.title ABOUT MATERIAL DESIGN
            p
              | Material Design (codenamed Quantum Paper) is a design language developed by Google.
            p
              | Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.
          // /.First column
          hr.hidden-md-up
          // Second column
          .col-lg-2.col-md-4.offset-lg-1
            h5.title First column
            ul
              li
                a(href='#!') Link 1
              li
                a(href='#!') Link 2
              li
                a(href='#!') Link 3
              li
                a(href='#!') Link 4
          // /.Second column
          hr.hidden-md-up
          // Third column
          .col-lg-2.col-md-4
            h5.title Second column
            ul
              li
                a(href='#!') Link 1
              li
                a(href='#!') Link 2
              li
                a(href='#!') Link 3
              li
                a(href='#!') Link 4
          // /.Third column
          hr.hidden-md-up
          // Fourth column
          .col-lg-2.col-md-4
            h5.title Third column
            ul
              li
                a(href='#!') Link 1
              li
                a(href='#!') Link 2
              li
                a(href='#!') Link 3
              li
                a(href='#!') Link 4
          // /.Fourth column
      // /.Footer Links
      hr
      // Call to action
      .call-to-action
        h4 Material Design for Bootstrap
        ul
          li
            h5 Get our UI KIT for free
          li
            a.btn.btn-info(target='_blank', href='http://mdbootstrap.com/getting-started/') Sign up!
          li
            a.btn.btn-default(target='_blank', href='http://mdbootstrap.com/material-design-for-bootstrap/') Learn more
      // /.Call to action
      // Copyright
      .footer-copyright
        .container-fluid
          | © 2015 Copyright: 
          a(href='http://www.MDBootstrap.com')  MDBootstrap.com 
      // /.Copyright
    // /.Footer
    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='js/jquery-2.2.3.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='js/tether.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='js/mdb.min.js')


