extends layout

block content
  section.hero.is-medium.is-bold.is-dark
    .hero-head
        .container
          nav.nav
            .container
              .nav-left
                a.nav-item(href='/')
                  img(src='/images/bulma-white.png', alt='Description')
              span.nav-toggle
                span
                span
                span
              .nav-right.nav-menu
                a.nav-item(href='/')
                  | Home
                a.nav-item.is-active(href='/departments')
                  | Departments
                a.nav-item(href='/departments/addnew')
                  | Add Data
                a.nav-item(href='/auth/logout')
                  | Log Out
    .hero-body
      .container.has-text-centered
          .columns.is-vcentered
            .column.is-half.is-offset-6
              form(method= 'post', action= '/departments', onsubmit= 'getSearch()')
                p.control.has-addons.has-text-centered
                  input#search.input.is-expanded.is-medium(type='search', placeholder='Search Departments')
                  button.button.is-medium.is-outlined(type="submit")
                    | Search
      br
      .container 
        nav.panel
          p#count.panel-heading
            | Departments:                        
          .box
            ul
              //- thead
                //-   for data in departments
                //-     li
                //-       a.panel-block.is-active(href='/departments/' + data._id ) #{data.dep_name}
                //-         span.panel-icon
                //-           i.fa.fa-book
              li#table-body
      
  include footer

