footer.page-footer.center-on-small-only
      .container-fluid
        .row
          .col-md-3.offset-lg-1.hidden-lg-down
            h5.title ABOUT MATERIAL DESIGN
            p
              | Material Design (codenamed Quantum Paper) is a design language developed by Google.
    script(type='text/javascript', src='/js/jquery-2.2.3.min.js')
    script(type='text/javascript', src='/js/tether.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/mdb.min.js')

    script(type='text/javascript', src='/javascripts/main.js')



