footer.page-footer.center-on-small-only
      .container-fluid
        .row
          .col-md-3.offset-lg-1.hidden-lg-down
            h5.title ABOUT MATERIAL DESIGN
            p
              | Material Design (codenamed Quantum Paper) is a design language developed by Google.
            p
              | Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.
          hr.hidden-md-up
          .col-lg-2.col-md-4.offset-lg-1
            h5.title First column
            ul
              li
                a(href='#!') Link 1
              li
                a(href='#!') Link 2
              li
                a(href='#!') Link 3
              li
                a(href='#!') Link 4
          hr.hidden-md-up
          .col-lg-2.col-md-4
            h5.title Second column
            ul
              li
                a(href='#!') Link 1
              li
                a(href='#!') Link 2
              li
                a(href='#!') Link 3
              li
                a(href='#!') Link 4
          hr.hidden-md-up
          .col-lg-2.col-md-4
            h5.title Third column
            ul
              li
                a(href='#!') Link 1
              li
                a(href='#!') Link 2
              li
                a(href='#!') Link 3
              li
                a(href='#!') Link 4
      hr
      .footer-copyright
        .container-fluid
          | © 2017 Copyright: 
    script(type='text/javascript', src='/js/jquery-2.2.3.min.js')
    script(type='text/javascript', src='/js/tether.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/mdb.min.js')

    script(type='text/javascript', src='/javascripts/main.js')



