extends landing

block content
    nav.navbar.navbar-toggleable-md.navbar-dark.fixed-top.scrolling-navbar
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='#')
        #navbarNav1.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                span.sr-only (current)
            if (user)
              li.nav-item
                a.nav-link(href='/portal') Subjects
              if (user.acctype ==='admin')
                li.nav-item
                  a.nav-link(href='/subjects/addnew') Add
              li.nav-item
                a.nav-link(href='/auth/logout') Log out
            else
              li.nav-item
                a.nav-link(href='/auth/login') Login
              li.nav-item
                a.nav-link(href='/auth/register') Register
    .view.hm-black-strong
      .full-bg-img.flex-center
        ul.animated.fadeInUp
          li
            h1.h1-responsive CPE Resource Portal
          li
            if (user)
                p You are logged in as #{user.username}
                a(href="/auth/logout") Logout
                br
                br
                a.btn.btn-primary.btn-lg(href='/portal') Subjects
                if (user.acctype ==='admin')
                  a.btn.btn-default.btn-lg(href='/subjects/addnew') Add
            else
                a.btn.btn-primary.btn-lg(href='/auth/login') Login
                a.btn.btn-default.btn-lg(href='/auth/register') Register

    include footer