extends layout

block content
    nav.navbar.navbar-toggleable-md.navbar-dark.green
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='#')
          strong Navbar
        #navbarNav1.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/')
                | Home 
            li.nav-item
              a.nav-link(href='/subjects') Subjects    
            li.nav-item.active
              a.nav-link(href='/subjects/addnew') Add
                span.sr-only (current)
            li.nav-item
                a.nav-link(href='/subjects/edit/users') Accounts
          li.nav-item.form-inline
              a.nav-link(href='/auth/logout') Log out
    .view
      .full-bg-img.flex-center
        ul.animated.fadeInUp
          li
            br
            br
            br
            .container.row.justify-content-center
              .col-6
                .card-block
                  form(method="POST", action="/subjects/#{subject._id}/itemnew")
                    // Header
                    .text-center
                      h3
                        i.fa
                        |  Add a subject
                      hr.mt-2.mb-2
                    // Body
                    if (error)
                          .card.card-danger.text-center.z-depth-2.mb-1
                            .card-block
                              p.white-text.mb-0
                                | #{error}
                    else
                      p 
                      | Field with 
                      strong.iscolor *
                      |  is required.
                    br
                    // Body
                    .md-form
                      i.fa.prefix
                      input#form3.form-control(type='text', name="description")
                      label(for='form3') Item Description*
                    .md-form
                      i.fa.prefix
                      label Item Type*
                    .md-form
                      input(type='radio', name="type" value="PDF") 
                      |  PDF
                      br
                      input(type='radio', name="type" value="Docx") 
                      |  .doc
                      br
                      input(type='radio', name="type" value="Picture") 
                      |  Picture
                      br
                      input(type='radio', name="type" value="others") 
                      |  others
                    .md-form
                      i.fa.prefix
                      input#form32.form-control(type='text', name="link")
                      label(for='form32') URL*
                    
                                         
                    .text-center
                      button.btn.success-color-dark Submit
                      .call
                        br
                        p
                          | 
                          br
                          span
                            i.fa.
                          |  
    include footer