doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title CPE Resource Portal
    link(rel='stylesheet', type='text/css',href='/css/font-awesome.min.css')
    link(href='/css/bootstrap.min.css', type='text/css',rel='stylesheet')
    link(href='/css/mdb.min.css', type='text/css',rel='stylesheet')
    script(type='text/javascript', src='/js/jquery-2.2.3.min.js')
    script(type='text/javascript', src='/js/tether.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/mdb.min.js')

    script(type='text/javascript', src='/javascripts/main.js')
    style(rel='stylesheet').
    style(rel='stylesheet').
      /* TEMPLATE STYLES */
      html,
      body,
      .view {
      height: 100%;
      }
      /* Navigation*/
      .navbar {
      background-color: transparent;
      }
      .scrolling-navbar {
      -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
      transition: background .5s ease-in-out, padding .5s ease-in-out;
      }
      .top-nav-collapse {
      background-color: #1C2331;
      }
      footer.page-footer {
      background-color: #1C2331;
      margin-top: -1px;
      }
      @media only screen and (max-width: 768px) {
      .navbar {
      background-color: #1C2331;
      }
      }
      /*Call to action*/
      .flex-center {
      color: #fff;
      }
      .view {
      background: url("./images/pexels-photo-149246.jpeg")no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }

  body
    block content
