extends layout

block content
    nav.navbar.navbar-toggleable-md.navbar-dark.green
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='#')
        #navbarNav1.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/')
                | Home 
            li.nav-item.active
              a.nav-link(href='/auth/login') Login
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/auth/register') Register
    .view
      .full-bg-img.flex-center
        ul.animated.fadeInUp
          li
            br
            .container.row.justify-content-center
              .col-6
                .card
                  .card-block
                    // Header
                    form(role="form", method="POST", action="/auth/login/")
                      .form-header.success-color-dark
                        h3
                          i.fa
                          |  Login:
                      .md-form
                        i.fa.prefix
                        input#form2.form-control(type='text', name='username')
                        label(for='form2') Your Username
                      .md-form
                        i.fa.prefix
                        input#form4.form-control(type='password', name='password')
                        label(for='form4') Your password
                      .text-center
                        button.btn.success-color-dark(type='submit' , value='Log In') Login
                    // Footer
                    .modal-footer
                      .options
                        p
                          | Not a member? 
                          a(href='/auth/register') Sign Up

    include footer
