
extends layout

block content
    nav.navbar.navbar-toggleable-md.navbar-dark.green
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='#')
        #navbarNav1.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/')
                | Home 
            li.nav-item
              a.nav-link(href='/auth/login') Login
            li.nav-item.active
              a.nav-link(href='/auth/register') Register
                span.sr-only (current)
    .view
      .full-bg-img.flex-center
        ul.animated.fadeInUp
          br
          br
          br
          br
          li
            .container.row.justify-content-center
              .col-6
                .card
                  .card-block
                    // Header
                    form(role="form", method="POST", action="/auth/register")
                      .form-header.success-color-dark
                        h3
                          i.fa
                          |  Register:
                      // Body
                      if (error)
                          .card.card-danger.text-center.z-depth-2.mb-1
                            .card-block
                              p.white-text.mb-0
                                | #{error}
                      else
                        p 
                        | Field with 
                        strong.iscolor *
                        |  is required.
                      br
                      .md-form
                        i.fa.prefix
                        input#form3.form-control(type='text', name="username")
                        label(for='form3') Your username*
                      .md-form
                        i.fa.prefix
                        input#form4.form-control(type='password', name="password")
                        label(for='form4') Your password*
                      .md-form
                        i.fa.prefix
                        input#form3.form-control(type='text', name="first_name")
                        label(for='form3') Your first name
                      .md-form
                        i.fa.prefix
                        input#form3.form-control(type='text', name="last_name")
                        label(for='form3') Your last name
                      .md-form
                        i.fa.prefix
                        input#form2.form-control(type='text', name="email")
                        label(for='form2') Your email*
                      .text-center
                        button.btn.success-color-dark Sign up  
                  


    include footer