extends customlayout

block content
  // Navbar
  nav.navbar.navbar-toggleable-md.navbar-dark.green
    .container
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#')
      #navbarNav1.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/')
                | Home 
            li.nav-item.active
              a.nav-link(href='/portal') Subjects
                span.sr-only (current)
            if (user.acctype==='admin')
              li.nav-item
                a.nav-link(href='/subjects/addnew') Add
              li.nav-item
                a.nav-link(href='/subjects/edit/users') Accounts
          li.nav-item.form-inline
              a.nav-link(href='/auth/logout') Log out
  br
  br
  .container
    .container
      ul.animated.fadeInUp
        li
          .row.justify-content-center
                  .col-10
                    form.waves-effect.waves-light(method= 'post', action= '/portal', onsubmit= 'getSearch()')
                      input#search.form-control(type='search', placeholder='Search')
                      //- .text-center
                      //-         button.btn.btn-indigo(type="submit") Search  
                    .list-group
                      a.list-group-item.primary(href='#')
                        | Subjects
                      #table-body
          

  include customfooter